body{
    margin: 0;
}

.container
{
    width: 1170px;
    margin: 0 auto;
}

.header
{
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 20px 4px rgb(128, 127, 127);
    border-radius:0 0 15px 15px;
}

.dropbtn {
    border: none;
    background: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.flex{
    display: flex;
}

.jcsb{
    justify-content: space-between;
}

.aic{
    align-items: center;
}

.header-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    text-decoration: none;
    outline: none;
    color: black;
    margin: 10px;
    border-radius: 10px;
    background-color: #e2e2e2;
    transition: .5s ease-in-out;
}

.cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    text-decoration: none;
    outline: none;
    color: black;
    margin: 10px;
    border-radius: 10px;
    background-color: #e2e2e2;
    transition: .5s ease-in-out;
}


.header-btn:hover{
    background-color: #bbb8b8;
}

.header-btn-container{
    display: flex;
    flex-direction: row;
}

.form-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-signup{
    margin: 10px;
    width: 200px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    height: 30px;
}



.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: white;
    box-shadow: 9px 11px 16px 3px rgb(128 127 127);
    margin: 100px auto;
    border-radius: 10px;
}

.submit-btn{
    background-color: #188bc2;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 10px;
    transition: .5s ease-in-out;
}

.submit-btn:hover{
    background-color: #18729c;
}

.product_container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    flex-wrap: wrap;
}

.product{
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0003;
    background: white;
    height: auto;
    margin: 10px;
}

.product_info{
    padding: 0 10px;
    background: white;
}

.img-container-catalog{
    overflow: hidden;
    line-height: 0;

}

.filter_btn
{
    width: 100px;
    height: 40px;
    text-decoration: none;
    outline: none;
    color: white;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    text-decoration:  none;
    color: black;
    transition: 0.2s;

}


.filter_btn:hover{
    background: #188bc2;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 20px #188bc2;
}

.filter_btn_close
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    text-decoration: none;
    outline: none;
    color: white;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    text-decoration:  none;
    color: black;
    transition: 0.2s;

}


.filter_btn_close:hover{
    background: red;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 20px red;
}

.dish{
    width: 330px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0003;
    background: white;
    height: 380px;
    margin: 10px;
}

.dish_info{
    padding: 0 10px;
    background: white;
}

.img-container-catalog{
    overflow: hidden;
    line-height: 0;

}

.dishList_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 
.form_radio_btn input[type=radio]:checked + label {
	background: #188bc2;
    color: white;
}
 
.form_radio_btn label:hover {
	color: #666;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
 }
 
 
 .modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
 }
 

 
 .modal.active,
 .overlay.active{
    opacity: 1;
    visibility: visible;
 }
 
 
 
 .modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
 }
 
 
 .modal-btn {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #414b52;
    margin: 10px;
    color: #fff;
    border-radius: 3px;
 }

 #ProfilePage
{
    margin: 50px auto;
    width: 635px;
}

#LeftCol
{
    float: left;
    width: 200px;
    text-align: center;
}

#Photo
{
    width: 200px;
    height: 200px;
}

#PhotoOptions
{
    text-align: center;
    width: 200px;
}

#Info
{
    width: 400px;
    text-align: center;
    float: right;

}

#Info strong
{
    width: 100px;
}

#Info span
{
    width: 250px;

}

.profile-container{
    display: flex;
    align-items: center;
    width: 800px;
    height: 400px;
    background-color: white;
    box-shadow: 9px 11px 16px 3px rgb(128 127 127);
    margin: 100px auto;
    border-radius: 10px;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .col-25 {
    -ms-flex: 25%;
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%;
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%;
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container-order {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  .input-order {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn-order {
    background-color: #188bc2;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn-order:hover {
    background-color: #18729c;
  }
  
  
  span.price {
    float: right;
    color: grey;
  }
  

  .form-item {
    position: relative;
    padding-top: 40px;
    margin-bottom: 10px;
  }
  
  .label {
    position: absolute;
    left: 10px;
    top: 63px;
    transition: top 0.5s;
  }
  
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    border-bottom: none;
    background: no-repeat bottom, 50% calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    background-image: linear-gradient(0deg, #188bc2 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #188bc2 1px, hsla(0, 0%, 82%, 0) 0);
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 5px;
    margin: auto;
    background: #ccc;
    border: none;
  }

  .header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

  .header-links {
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: color ease-in .4s;
}

.header-links:hover {
    color: #FFA200;
}
  
  input:focus,
  textarea:focus {
    outline: none;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
  }
  
  input:focus+.label,
  input:not(:placeholder-shown)+.label,
  textarea:focus+.label,
  textarea:not(:placeholder-shown)+.label {
    top: 15px;
  }
  
  ::-webkit-input-placeholder {
    opacity: 0;
  }
  
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .more-link{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid gray;
    text-decoration:  none;
    color: black;
    transition: 0.2s;
}

.more-link:hover{
    background: #188bc2;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 20px #188bc2;
}

.number{
    display: flex;
    flex-direction: row;
    margin:100px 30%;
}
.minus, .plus{
    width:10px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:3px 5px 3px 5px;
    border:1px solid #ddd;
    cursor: pointer;
}

.btn-lk{
    background-color: rgb(202, 203, 211);
    width: 100%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.btn-lk:hover
{
    background-color: rgb(100, 99, 104);
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    background-color: #dd1919;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 10px;
    transition: .5s ease-in-out;
}

.delete-btn:hover{
    background-color: rgb(114, 16, 16);
}
  
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: white;
    transition: all 0.5s;  
    width: 300px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: black;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #188bc2;
}
.side-button-1-wr {
    text-align: center;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Ð¢ahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
    background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
    background: red;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}

.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}

.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: black;   
    transition: all 280ms ease-in-out;   
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);   
    color: #FFF;
}

.radio-position
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.filter-button-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cart-container{
    display: flex; flex-direction:row; align-items:center; justify-content:space-between;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }

  .admin-order{
      display: flex;
      flex-direction:row; align-items:center; justify-content:space-between
  }

  .order-dish
  {
      display: flex;
      flex-direction:row; align-items:center; justify-content:space-between
  }

  .admin-restaurant{
      display: flex;
    flex-direction:row; align-items:center; justify-content:space-between
  }

  .admin-dishes{
      display: flex;
    flex-direction:row; align-items:center; justify-content:space-between
  }

  .header-hamburger {
    display: none;
}


.header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.lk-order{
    display: flex;
    flex-direction:row; align-items:center; justify-content:space-between
}

.lk-dishes{
    display: flex;
    flex-direction:row; align-items:center; justify-content:space-between
}

.select-style{
    width: 100%;
    height: 30px;
    border: 1px solid #188bc2;
    transition: .5s ease-in-out;
    outline: none;
    font-size: 15px;
}

.select-style:hover
{
    box-shadow: 0 0 8px 1px #188bc2;
}

@media (max-width: 1500px) { 
    .jcsb{
        justify-content: space-around;
    }
 }


@media (max-width: 1320px) { 
    .container{
        width: 100%;
    }
 }

 @media (max-width: 950px) { 
    .header-list {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transform: translateY(-100%);
        transition: transform ease-in .4s;
        z-index: 3;
    }

    .header-list--active {
        transform: translateY(0);
    }

    .header-links {
        display: block;
        padding: 23px 100px 25px 100px;
        font-size: 14px;
        line-height: 16px;
    }

    .header-hamburger {
        display: block;
    }

    .hamburger {
        position: absolute;
        top: 15px;
        right: 20px;
        width: 50px;
        height: 50px;
        padding: 0;
        font-size: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        z-index: 4;
    }

    .hamburger::before,
    .hamburger::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 8px;
        width: 35px;
        height: 4px;
        background-color: black;
        box-shadow: 0 8px 0 0 black,
        0 16px 0 0 black;
    }

    .hamburger--active::before {
        top: 25px;
        transform: rotate(45deg);
        box-shadow: none;
    }

    .hamburger--active::after {
        top: 25px;
        transform: rotate(-45deg);
        box-shadow: none;
    }

    .hamburger::before,
    .hamburger::after {
        transition: all ease-in .4s;
    }

    .dropbtn{
        display: none;
    }

   .cart-container
   {
       flex-direction: column;
   }
   .admin-order{
       flex-direction: column;
   }
   .order-dish
   {
       flex-direction: column;
   }
   .admin-restaurant
   {
       flex-direction: column;
   }
   .admin-dishes{
       flex-direction: column;
   }
   .modal
   {
       width: 80%;
   }
   .lk-order{
       flex-direction: column;
   }
   .lk-dishes{
       flex-direction: column;
   }
   .cart-btn
   {
       display: none;
   }
   .profile-container{
       width: 80%;
   }

   .title-profile{
       display: none;
   }

   #Info{
       width: 100%;
   }

   .product_container
   {
       justify-content: center;
   }

   .dishList_container{
       justify-content: center;
   }

   .form-container
   {
       width: 80%;
   }
   .jcsb{
       justify-content: space-between;
   }

   .header{
       height: auto;
   }

   .header-btn-container{
       flex-direction: column;
   }

   #ProfilePage{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .dropdown{
       display: none;
   }
 }

 @media (max-width: 350px) {
     .side-panel{
         width: 80%;
     }
     .dish{
        width: 90%;
    }
    .dish_container{
        width: 100%;
    }
 }

